<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body  class= "container " ng-controller="StoreController as store">
    <!--  Product Container  -->
    <div class="list-group">
    <div class="list-group-item" ng-hide="store.product.soldOut" ng-repeat= "product in store.products">
      <h3>{{product.name}}<em class="pull-right">{{product.price | currency }}</em></h3>
        <p>{{product.description}}</p>
        <button class="btn btn-primary pull-left" ng-show="product.canPurchase">Watch Online  </button>
        <!--image gallery-->
        <div class="gallery"> <div ><img class="img img-circle img-thumbnail center-block" src="{{product.images}}"></div></div>

        <!--active section-->
        
       <section class="tab" ng-controller="TabController as tab">
       <ul class="nav nav-pills">
         <li ng-class="{active : tab.isSet(1)}">
           <a href ng-click="tab.setTab(1)">Story</a>
         
         </li>
         
         <li ng-class='{active:tab.isSet(2)}'>
           <a href ng-click="tab.setTab(2)">Cast and Crew</a>
         </li>
         
         <li ng-class="{active: tab.isSet(3)}">
           <a href ng-click="tab.setTab(3)">Review</a>
         </li>
       </ul>
       <div ng-show="tab.isSet(1)"><h4>Story </h4> {{product.story}}</div>
       <div ng-show="tab.isSet(2)"><h4>Cast and Crew</h4><ul class="clearfix">
            <li ng-repeat="crew in product.cast">
              <h4>{{crew}}</h4>
            </li>
          </ul></div>
       <!--review tab-->
       <div ng-show="tab.isSet(3)">
            <ul><h4>Review</h4>
              <li ng-repeat="review in product.reviews">
            <blockquote><strong>{{review.stars}} Stars</strong>
            {{review.body}}
            <cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>  
              </li>
            </ul>

            <form name="ReviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="ReviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

            <!--Live preview-->
            <blockquote >
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix"> - {{reviewCtrl.review.author}}</cite>
              </blockquote>

              

              <h4> Submit a Review</h4>
               <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                  <option value>Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
      </div>
      </section> 
      <!--
      <section ng-controller="TabController as tab">
          <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href ng-click="tab.setTab(1)">Description</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
              <a href ng-click="tab.setTab(2)">Specs</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
              <a href ng-click="tab.setTab(3)">Reviews</a>
            </li>
          </ul>

          <div ng-show="tab.isSet(1)">
            <h4>Description</h4>
            <blockquote>{{product.description}}</blockquote>
          </div>

          <div ng-show="tab.isSet(2)">
            <h4>Specs</h4>
            <blockquote>Shine: {{product.shine}}</blockquote>
          </div>

          <div ng-show="tab.isSet(3)">
            <ul>
              <h4>Reviews</h4>
              <li ng-repeat="review in product.reviews">
                <blockquote>
                  <strong>{{review.stars}} Stars</strong>
                  {{review.body}}
                  <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
                </blockquote>
              </li>
            </ul>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">

              <blockquote >
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>

              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                  <option value>Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset> -->
            </form>
          </div>

        </section>

       </div>
    </div>
  </body>
</html>
